third_sem/CSharp/lab5/configs/DataManagerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataManagerOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PathsOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DestinationDirectory"/>
              <xs:element type="xs:string" name="DBpath1"/>
              <xs:element type="xs:string" name="DBpath2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>